<carousel>
  <slide>
    <img class="img-size" src="assets/images/4.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      <p><a href="/videos/video-1" class="btn btn-primary" (click)='preventNormal($event)'>Video</a></p>
    </div>
  </slide>
  <slide>
    <img class="img-size" src="assets/images/5.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p><a href="/videos/video-1" class="btn btn-primary">Video</a></p>
    </div>
  </slide>
  <slide>
    <img class="img-size" src="assets/images/6.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <p><a href="/videos/video-1" class="btn btn-primary">Video</a></p>
    </div>
  </slide>
</carousel>
